<html>Warriors <%= @warrior_1.name%> and <%= @warrior_2.name%> were successfully created!</html>
<html><%= @warrior_1.name%> has <%= @warrior_1.hp%> HP</html>
<html><%= @warrior_2.name%> has <%= @warrior_2.hp%> HP</html>

<form action="/attack">
  <input type="submit" value='Attack!'>
</form>
